<%= provide(:title, "title.student.advance_grade_confirm") %>

<div class="container mx-8 pt-4">

<h2>生徒の進級</h2>
<p class="mb-4">当月名簿において、生徒を進級させます。次月以降の名簿が存在する場合、それらの名簿に学年の変更は適用されないので、ご注意下さい。</p>
<p class="mb-4">進級は以下のように行われます。</p>
<div class="flex justify-center">
<table class="row-striped border-2 mb-4">
  <thead>
    <tr>
      <td class="px-8">変更前</td>
      <td></td>
      <td class="px-8 font-bold">変更後</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-8">未就学</td>
      <td>→</td>
      <td class="px-8">変更なし</td>
    </tr>
    <tr>
      <td class="px-8">年少</td>
      <td>→</td>
      <td class="px-8">年中</td>
    </tr>
    <tr>
      <td class="px-8">年中</td>
      <td>→</td>
      <td class="px-8">年長</td>
    </tr>
    <tr>
      <td class="px-8">年長</td>
      <td>→</td>
      <td class="px-8">小学１年</td>
    </tr>
    <tr>
      <td class="px-8">小学１年</td>
      <td>→</td>
      <td class="px-8">小学２年</td>
    </tr>
    <tr>
      <td class="px-8">小学２年</td>
      <td>→</td>
      <td class="px-8">小学３年</td>
    </tr>
    <tr>
      <td class="px-8">小学３年</td>
      <td>→</td>
      <td class="px-8">小学４年</td>
    </tr>
    <tr>
      <td class="px-8">小学４年</td>
      <td>→</td>
      <td class="px-8">小学５年</td>
    </tr>
    <tr>
      <td class="px-8">小学５年</td>
      <td>→</td>
      <td class="px-8">小学６年</td>
    </tr>
    <tr>
      <td class="px-8">小学６年</td>
      <td>→</td>
      <td class="px-8">中学１年</td>
    </tr>
    <tr>
      <td class="px-8">中学１年</td>
      <td>→</td>
      <td class="px-8">中学２年</td>
    </tr>
    <tr>
      <td class="px-8">中学２年</td>
      <td>→</td>
      <td class="px-8">中学３年</td>
    </tr>
    <tr>
      <td class="px-8">中学３年</td>
      <td>→</td>
      <td class="px-8">高校１年</td>
    </tr>
    <tr>
      <td class="px-8">高校１年</td>
      <td>→</td>
      <td class="px-8">高校２年</td>
    </tr>
    <tr>
      <td class="px-8">高校２年</td>
      <td>→</td>
      <td class="px-8">高校３年</td>
    </tr>
    <tr>
      <td class="px-8">高校３年</td>
      <td>→</td>
      <td class="px-8">既卒</td>
    </tr>
  </tbody>
</table>
</div>
<p class="mb-4">進級処理を行う前に、卒業した生徒を退会させることをおすすめします。</p>
<p class="mb-8">一度進級させると、もとに戻せません。生徒を進級させてもよろしいですか？</p>

<div class="flex justify-center">
  <%= link_to("生徒を進級させる",
    "/student/advance_grade_run",
    {class: "text-white font-bold py-2 px-4 mr-4 rounded shadow bg-teal-500 hover:bg-teal-700 hover:cursor-pointer hover:ring-4", method: :post})
  %>
  <%= link_to("キャンセル",
    "/student/#{@fiscal_date}/index",
    {class: "text-teal-500 font-bold py-2 px-4 rounded shadow bg-white hover:bg-teal-700 hover:cursor-pointer hover:ring-4"})
  %>
</div>

</div>