<%= provide(:title, t("title.home.help")) %>
<div class="container">

<h1>ヘルプ</h1>
<h2>よくあるお問い合わせ</h2>
<h3>無償で継続して使うことはできますか？</h3>
<p>無償で利用いただけます。その代わりに広告が表示されます。また，将来的に有償版がリリースされる可能性がありますが，機能制限の無料版が維持される予定です。</p>

</div>