<%= provide(:title, t("title.home.help")) %>
<div class="container">

<h1>ヘルプ</h1>
<h2>よくあるお問い合わせ</h2>
<h3>本当に無償ですか？</h3>
<p>現在，すべての機能を無償で利用できますが，その代わりに広告が表示されます。また，将来的に有償版がリリースされる可能性がありますが，登録できる生徒数に制限を設けた上で無料版が維持される予定です。</p>

</div>