/*
 *= require_tree .
 *= require_self
 */

@import "tailwind_color";

.header {
  width: 100%;
  box-shadow: 0 2px 4px #a0aec0;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  color: white;
  height: 2.5rem;
}

.terms-of-use {
  width: 30rem;
  height: 10rem;
  padding: 1rem;
  background-color: white;
  border: solid 1px $gray-500;
  overflow-y: scroll;
}
