// Place all the styles related to the item_master controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.item-code {width: 6rem;}
.item-price {width: 6rem;}
.item-category {width: 3rem;}